.exploreContainer {
  padding: 0 0.5em;
  height: 100%;
  overflow: auto;
  padding-top: 5.2em;
}

.head img {
  width: 15px;
  position: absolute;
  left: 5px;
  top: 27%;
  transform: translateY(-50%);
}

.exploreContainer h6 {
  font-size: 0.975em;
  font-weight: 500;
  color: #bbb;
  margin: 1.5em 0 1.5em 0;
}

.showMore {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f4f4 !important;
  border: none !important;
  color: #aaa !important;
  box-shadow: 0 2px 3px #ccc;
  font-weight: 500 !important;
}

.showMore span {
  font-size: 0.775em !important;
  margin-top: 0.4em;
  margin-left: 0.5em;
}

.peopleContainer {
  background-color: white;
  margin: 0 -0.5em;
  padding: 0.5em 0.5em 1.5em 0.5em;
  position: relative;
}

.peopleContainer img {
  width: 40px;
  border-radius: 1.1em;
}

.peopleContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.peopleContainer h5 {
  color: var(--textColor);
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

.peopleContainer p {
  color: var(--textColor);
  font-size: 0.9em;
  margin: 0;
  display: block;
  display: -webkit-box;
  height: fit-content;
  width: 173px;
  line-height: 1.15 !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaa;
}

.peopleContainer button {
  background-color: transparent;
  border: 2px solid var(--btnBgColor);
  border-radius: 2em;
  color: var(--btnBgColor);
  font-weight: 400;
  font-size: 1em;
  padding: 0.1em 1.2em;
}

.showMore svg {
  margin-left: 0.6em;
}

.conversationCard {
  background-color: white;
  border-radius: 0.5em;
  padding: 0.5em;
  box-shadow: 0 2px 3px #ccc;
}

.conversationCard h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--textColor);
  margin: 0;
  font-size: 1em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ccc;
}

.conversationCard p {
  text-align: center;
  margin-top: 1em;
  color: #aaa;
}

.conversationCard h6 svg {
  margin-right: 1em;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #f2f0e4;
  z-index: 5;
  padding: 0.5em;
  margin-right: 0.5em;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head h3 {
  font-size: 1.5em;
}

.peopleContainer button:hover {
  background-color: var(--btnBgColor);
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.conversationCard:hover {
  box-shadow: 0 10px 15px rgb(190, 188, 188);
  transition: all ease-in-out 0.2s;
}

.showMore:hover {
  box-shadow: 0 5px 10px rgb(190, 188, 188);
  transition: all ease-in-out 0.2s;
  color: black;
}

.header > span > span {
  margin-right: 1em;
}

@media (max-width: 300px) {
  .peopleContainer p {
    display: none;
  }
  .peopleContainer button {
    padding: 0.1em 0.6em;
  }
  .peopleContainer h5 {
    font-size: 1em;
  }
  .peopleContainer img {
    height: 30px;
    width: 30px;
  }
  .peopleContainer > div {
    padding-top: 0.8em;
  }
  .conversationCard h6 {
    font-size: 1em;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
  }
}
